RewriteOptions inherit
<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>
RewriteCond %{HTTP_HOST} ^www\.canvas\.manthano\.cl$
RewriteRule ^/?$ "https\:\/\/www\.canvas\.manthano\.cl\/" [R=301,L]
